@use "../abstracts/" as *;

/* Pricing & Packages Section Start */

.pricing {
  padding: 0 0 $padding-130 0;
  background-color: $second-bg;
  .main-heading {
    margin-bottom: 80px;
  }
  .plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    .plan-box {
      @include prefixes(transition, background-color 1s linear);
      @include prefixes(border-radius, 5px);
      min-width: 300px;
      flex-grow: 1;
      border: 1px solid rgba(0, 0, 0, 0.05);
      padding: $padding-40;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      .plan-title {
        span {
          display: block;
          @include basic-properties(
            #111111,
            $font-size-14,
            $bolder-font-weight,
            uppercase
          );
        }
      }
      .plan-price {
        span {
          display: block;
          @include basic-properties(
            $main-color,
            $font-size-40,
            $normal-font-weight,
            uppercase
          );
          sup {
            margin-right: 10px;
          }
        }
      }
      .plan-features {
        ul {
          display: flex;
          flex-direction: column;
          gap: 30px;
          li {
            .icon {
              display: inline-block;
              margin-right: 10px;
              color: $main-color;
              font-size: 12px;
            }
            .text {
              @include basic-properties(
                $primary-tx-color,
                $font-size-16,
                $light-font-weight,
                capitalize
              );
            }
          }
        }
      }
      .buttons {
        .one {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
      &:hover {
        background-color: $light-color;
        box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
      }
    }
  }
}

/* Pricing & Packages Section End */
