// Color Variables
$main-color: #00bcd4;
$main-color-2: #00cae3;
$main-color-3: #4dd0e1;
$light-main-color: rgba(255, 255, 255, 0.7);
$light-color: #ffffff;
$main-b-g: #f8f8f8;
$second-bg: #f0f0f0;

// Text Color
$primary-tx-color: #999999;
$secondary-tx-color: rgba(0, 0, 0, 0.5);
$main-heading: rgba(0, 0, 0, 0.8);
$accent-tx-color: #aaaaaa;
$dark-bg-color: #ebebeb;

// Font Size
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-25: 1.5625rem;
$font-size-30: 1.875rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-60: 3.75rem;

// line Height
$main-line-height: 28.8px;

// Font Weight
$light-font-weight: 400;
$normal-font-weight: 500;
$bold-font-weight: 600;
$bolder-font-weight: 700;
$boldest-font-weight: 800;

// Padding Size
$padding-10: 0.625rem;
$padding-15: 0.9375rem;
$padding-16: 1.125rem;
$padding-20: 1.25rem;
$padding-24: 1.5rem;
$padding-25: 1.5625rem;
$padding-30: 1.875rem;
$padding-40: 2.5rem;
$padding-48: 3rem;
$padding-50: 3.125rem;
$padding-60: 3.75rem;
$padding-130: 8.125rem;
